body { background: lightyellow;
       color: black;
       font-size: 12pt; }	  
	   h1 { font-size: 18pt;
background; lightyellow
     font-weight: bold;
     color: black }
h2	 { font-size: 15pt;
background; lightyellow
     font-weight: bold;
     color: black }	 
head { font-size: 24pt;
     font-weight: bold;
     color: black }
